header-height = 70px

body
  margin 0
  padding 0

.app.header
  height header-height

.app.content
  width 100%
  height 100vh
  display flex
  flex-flow row
  justify-content: flex-end

.content .left
  position fixed
  left 0
  height 100%
  display flex
  flex-flow column

.content .middle

.content .right

.timeline
  position relative
