
.geo-map.county path
  stroke-width 2px

.geo-map.highway path
  fill none
  stroke #3182bd
  stroke-width 3px

.geo-map.highway2 path
  fill none
  stroke pink
  stroke-width 2px

.geo-map.highway3 path
  fill none
  stroke black
  stroke-width 1px
