doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title 石虎
    link(rel="stylesheet" href="app.css")
    if env === "dev"
      script(src="//localhost:9090/")
  body
    header.app.header
      h1 石虎
    .app.content
      .left.sidebar
        .trend.container
          p Trend
        .map.container
          p Map
      .timeline.right.container
        p Timeline
    script(src="app.js")
