doctype
html
  head
    meta(charset="utf-8")
    title 石虎
    script(src="//localhost:9090/")
    script(src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.js")

    link(rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.css")
    link(rel="stylesheet" href="app.css")
  body
    #map
    script(src="app.js")
