doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title 台灣石虎生存現況 | 環境資訊中心
    if env === "dev"
      script(src="//localhost:9090/")
    link(rel="stylesheet" href="app.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body
    .app.bar
      a.app.logo(href="http://e-info.org.tw/")
        i.logo
        環境資訊中心
      .app.title
        台灣石虎生存現況
      .app.social.links
        i.teia
        a(href="https://www.facebook.com/enc.teia" target="_blank")
          i.fa.fa-facebook
        a(href="https://twitter.com/teiatw" target="_blank")
          i.fa.fa-twitter
    header.app.header
      .container
        h1.app.title 台灣石虎生存現況
        p 在台灣雲豹野外滅絕後，石虎是台灣野外目前僅存的大型貓科動物。
        p 然而，<strong>人為開發</strong>造成石虎棲地的破碎化，連帶影響其覓食、求偶，必須穿越馬路而提高<strong>路死</strong>（road kill）風險；除草劑、毒鼠藥及<strong>農藥</strong>，直接或透過食物鏈間接傷害石虎；獵捕壓力與養雞農戶的<strong>衝突威脅</strong>，以致使用捕獸夾，也威脅石虎生存。
        p 這種種因素正導致台灣石虎族群數量快速下滑，目前僅在苗栗、南投一帶，仍能見到其踪跡。
        .updated-info.footnote 更新時間：2015/10/01
    .app.content
      .left
        .map.container
      .middle
        .tagsline.container
      .right
        .intro.message
          p 左圖是目前石虎相關事件總覽。
          p 往下捲動，瞭解不同時間點的變化。
        .timeline.container
    script(src="app.js")
