doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Timeline
    if env === "dev"
      script(src="//localhost:9090/")
    style.
      #timeline {
        position: relative;
      }

      #timeline .content h3 {
        margin-top: 0px;
        font-size: 20px;
      }
  body
    .timeline
   script(src="timeline.js")
